.itens-cliente label {
    margin: 10px 8px 5px 0px;
    font-weight: bold;
}

.itens-cliente input {
    margin-right: 10px;
    border-radius: 6px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.09);
    max-width: 100%;
    
}

.itens-cliente {
   margin-top: 1px;
    display: block;
    
   
    
}